# Auto detect text files and perform LF normalization
* text=auto
def setup():
    global font
    size(800, 800)
    font = loadFont("font.vlw")
    textFont(font, 48)
    background(0)
    
def draw():
    global font
    text("Eye of The Beholder\n\n", 50, 50)
    textFont(font, 32)
    text("Monster Database\nInventory\nEncounter rolls", 50, 150)